/* .expenses {
    background-color: blanchedalmond;
    border: 1px solid blueviolet;
} */

.listbox {
    border: 1px solid black;
    padding: 20px;
    border-radius: 5%;
}

.listbox p {
    padding: 10px;
}